:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242424;
  color:white;
  text-align: center;
    padding: 0;
    margin: auto
}

* {
  box-sizing: border-box;
}



@media screen and (max-width:450px){
  html, body {
    width: 105%;
    margin: 0;
    padding: 0;
  }
  :root{
    width:90%;
  }
}

