#results {
    height:85vh;
    width:80%;
    box-sizing: border-box;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    text-align: left;
}

#logo {
    grid-area: 1/1/1/3;
    text-align: left;
}

#logo img {
    width:50%;
}

#logo hr {
    margin-left:0;
    width:90%;
    margin-top:16px;
    margin-bottom: 0;
}

#inputVisitors {
    width: 50px;
    margin : 0 5px;
    border-radius: 3px;
    border:none;
    padding: 4px;
}

#score {
    grid-area: 2/1/3/1;
    border:10px solid #82BA95;
    border-radius: 50%;
    aspect-ratio: 1;
    width:60%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#score span {
    font-size: 5em;
}

/* #quiz {
    grid-area: 1/3/span 3/4;
    height:100vh
} */

#infos {
    grid-area: 3/1/3/3;
}

#co2Emissions span {
    font-weight: 700;
    color:#82BA95
}

#testAnotherWebsite {
    font-style: italic;
    color: #82BA95;
    margin: 0;
    margin-top: 10px;
    cursor: pointer;
}

#testAnotherWebsite:hover{
    text-decoration: underline;
    color:white;
}
