#loading {
    height:95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading img {
    position:absolute;
    width:10%;
    top:40px;
    left:45%;
}

#textDiv{
    display: flex;
}

.text {
    font-size: 9em;
    margin:0;
    position: relative;
    margin: 0 8px;
    /* animation: movingLetter 1s infinite ease-in-out; */
}

.text-l {
    animation: movingLetter 2s 0.2s infinite ease-in-out;
}

.text-o {
    animation: movingLetter 2s 0.3s infinite ease-in-out;
}

.text-a {
    animation: movingLetter 2s 0.5s infinite ease-in-out;
}

.text-d {
    animation: movingLetter 2s 0.7s infinite ease-in-out;
}

.text-i {
    animation: movingLetter 2s 0.8s infinite ease-in-out;
}

.text-n {
    animation: movingLetter 2s 1s infinite ease-in-out;
}

.text-g {
    animation: movingLetter 2s 1.1s infinite ease-in-out;
}



#green {
    width:40px;
    height:30px;
    background-color: #82BA95;
    margin-left:0%;
    animation: movingGreen 2s ease-in-out infinite;
    margin-top:-50px;
}

@keyframes movingLetter {
    0% {
        top:0;
    }
    10%{
        top:-60px
    }
    33% {
        top:0px;
    }
    100% {
        top:0px
    }
}

@keyframes movingGreen {
    0% {
        margin-left:-10%;
        width:40px;
        border-radius: 20px;
    }
    50% {
        width:160px;
        border-radius: 40px;
    }
    100% {
        margin-left:104%;
        width: 40px;
        border-radius: 20px;
    }
}
