section {
    display: flex;
    width:70%;
    margin:20px auto;
    align-items: center;
}

section div, section img {
    flex:50%;
    padding:20px;
}

section h2 {
    color:#82BA95;
    font-size: 5em;
    font-weight: 700;
    margin-top: 0;
}

.align-left{
    text-align: left;
}

.align-right{
    text-align: right;
}


footer {
    background-color: #82BA95;
    color:#242424;
    margin-top:180px;
}

nav {
    background-color: #56764D;
}

footer section {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 0;
    padding: 0 0 20px;
}

footer section p {
    grid-area: 1/3;
    
}

footer img {
    width:100px;
    min-width: none;
}